h1{
  text-align: center;
  color: cornflowerblue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: right;
  padding-right: 30px;
  margin: 20px auto;
  color: cornflowerblue;
  gap: 20px;
  font-weight: 900;
  font-size: 20px;
}

nav a {
  color: cornflowerblue;
  text-decoration: none;
}

a.active {
  font-weight: 800;
  font-size: 21px;
  font-style: italic;
  color: brown;
}

button {
  background-color: cornflowerblue;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
}

div {
  text-align: center;
}

.card {
  width: 50%;
  margin: auto;
  background-color: cornflowerblue;
  padding: 10px 20px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  text-align: justify;
}

.card .title{
  color:#fff;
}

.card p, span{
  text-align: left;
  color: gray;
}

.note{
  display: flex;
  align-items: center;
  gap: 5px;
}

a{
    text-decoration: none;
}

h4{
  color: gray;
}