h1,
span {
  text-align: center;
  color: cornflowerblue;
}

nav {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cornflowerblue;
  gap: 10px;
}

nav a {
  color: cornflowerblue;
  text-decoration: none;
}

a.active {
  font-weight: 800;
  font-size: 18px;
  font-style: italic;
}

button {
  background-color: cornflowerblue;
  outline: none;
  border: none;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.btn {
  display: flex;
  justify-content: center;
}

div {
  text-align: center;
}

.card {
  width: 50%;
  margin: auto;
  background-color: cornflowerblue;
  padding: 10px 10px;
  margin-top: 15px;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
}

a{
    color: #fff;
    text-decoration: none;
}
